## MFTRACE configuration file

mftrace.emitter.es#level             = 99999
mftrace.emitter.textfile#location  = c:\ctf
mftrace.emitter.textfile#Format = $(TIME) $(THREAD) $(COMPONENT) $(EVENT) $(LEVEL) :$(DATA)
mftrace.emitter.binfile#Location  = c:\ctf
mftrace.emitter.binfile#Format    = $(TIME) $(THREAD) $(COMPONENT) $(EVENT) $(LEVEL) :$(DATA)

#mftrace.level                = info
#mftrace.comp.mf.demo#apples  = true
#mftrace.comp.mf.demo#bananas = true
#mftrace.comp.mf.demo#oranges = true

mftrace.level.MF.MFA.MFDAS2DLL  = debug
mftrace.level.MF.MFA.MFDAS2     = debug
mftrace.level.MF.MFA.MFAAPI     = debug
mftrace.level.MF.MFA.MFAMFA2    = debug

mftrace.level.mf.cci=debug 

mftrace.comp.mf.CCI.TCP#on=true 

mftrace.comp.mf.CCI.TCP#protocol=true
mftrace.comp.mf.CCI.TCP#data=true
mftrace.comp.mf.CCI.TCP#ssl_options_all=true