################################################################################################
# MFTRACE configuration file
# MFTRACE_CONFIG
# https://docs.rocketsoftware.com/search?labelkey=prod_enterprise_developer&q=To+Enable+CTF+Tracing
################################################################################################

################################################################################
# Global
################################################################################
mftrace.dest = binfile,textfile

mftrace.emitter.textfile#format = $(TIME) $(THREAD) $(COMPONENT) $(EVENT) $(LEVEL)$(DATA)
mftrace.emitter.binfile#Format = $(TIME) $(THREAD) $(COMPONENT) $(EVENT) $(LEVEL)$(DATA)

mftrace.emitter.textfile#multiproc = true
mftrace.emitter.BINFILE#multiproc = true

mftrace.emitter.textfile#location = C:\CTF\TXT
mftrace.emitter.binfile#Location = C:\CTF\BIN

mftrace.emitter.textfile#flushevery = 0

mftrace.emitter.es#level = 9999

# Set global trace level for all components
mftrace.level                         = debug

################################################
# MVSCATLU Tracing (relevant with MFA)
################################################
mftrace.level.mf.mvs.mvscatlu           = debug

mftrace.comp.mf.mvs.mvscatlu#all        = true
mftrace.comp.mf.mvs.mvscatlu#entry      = true
mftrace.comp.mf.mvs.mvscatlu#mfa        = true
mftrace.comp.mf.mvs.mvscatlu#mfaparm    = true

################################################
# MFA Tracing
################################################

mftrace.level.MF.MFA.MFDAS2DLL  = debug
mftrace.level.MF.MFA.MFDAS2     = debug
mftrace.level.MF.MFA.MFAAPI     = debug
mftrace.level.MF.MFA.MFAMFA2    = debug

################################################
# CCI TCP Tracing
################################################

mftrace.level.mf.cci=debug 
mftrace.comp.mf.CCI.TCP#on=true 
mftrace.comp.mf.CCI.TCP#protocol=true
mftrace.comp.mf.CCI.TCP#data=true
mftrace.comp.mf.CCI.TCP#ssl_options_all=true