[Unit]
Description=ESCWA

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/escwaService.sh start
ExecStop=/etc/systemd/system/escwaService.sh stop
ExecReload=/etc/systemd/system/escwaService.sh restart
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target