[Unit]
Description=ESCWA

[Service]
Type=simple
ExecStart=/home/support/MFSupport/MFServices/mfServices.sh escwa start
ExecStop=/home/support/MFSupport/MFServices/mfServices.sh escwa stop
ExecReload=/home/support/MFSupport/MFServices/mfServices.sh escwa restart
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target