[Unit]
Description=Fileshare

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/fsService.sh start
ExecStop=/etc/systemd/system/fsService.sh stop
ExecReload=/etc/systemd/system/fsService.sh restart
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target