[Unit]
Description=Fileshare

[Service]
Type=simple
ExecStart=/home/support/MFSupport/MFServices/mfServices.sh fileshare start
ExecStop=/home/support/MFSupport/MFServices/mfServices.sh fileshare stop
ExecReload=/home/support/MFSupport/MFServices/mfServices.sh fileshare restart
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target