[Unit]
Description=Micro Focus Directory Server

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/mfdsService.sh start
ExecStop=/etc/systemd/system/mfdsService.sh stop
ExecReload=/etc/systemd/system/mfdsService.sh restart
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target