[Unit]
Description=Micro Focus Directory Server

[Service]
Type=simple
ExecStart=/etc/systemd/system/runMFDS start
ExecStop=/etc/systemd/system/runMFDS stop
ExecReload=/etc/systemd/system/runMFDS restart
TimeoutStartSec=0

[Install]
WantedBy=default.target